/* Reseteo global para sacar márgenes por defecto */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header
{
    display: flex;
    justify-content: center; /* Centra tanto el logo como el menu en el medio*/
    align-items: center; /*Los alinea perfectamente en la vertical*/
    gap: 40px; /*Empuja un poco el menú lejos del logo para que no se peguen*/
    padding: 20px;
}


header h1
{
    text-align: center;
    display: block;
}

/* Relative asi el sub menu lo toma como referencia */
.menu-desplegable
{
    position: relative;
}

/* Al pasar por encima de la Categoria sale el sub menu*/
.menu-desplegable:hover .sub-menu
{
    display: block;
}

.submenu li
{
    display: block;
    width: 150px;
}


.sub-menu
{
    display: none; /* De esta forma es invisible hasta que se pasa por "categorias"*/
    position: absolute; /* Lo posici
    top: 100%;
    left: 0;
    background-color: #222;
    padding: 0;

}


body
{
    font-family: 'Share Tech Mono', monospace;
    background-color: #1b2838; /* Color de fondo estilo Steam */
    color: #c7d5e0;
    line-height: 1.6;
    text-align: center;
}


h1, h2, h3
{
    font-family:'Orbitron', sans-serif;
}
